client
dev {{ CONNECTION_INTERFACE }}
proto {{ CONNECTION_PROTOCOL }}
remote {{ this.stdout }} {{ CONNECTION_PORT }}
resolv-retry infinite
nobind
user {{ OPENVPN_USER }}
group {{ OPENVPN_GROUP }}
persist-key
persist-tun
key-direction 1
remote-cert-tls server
cipher {{ CHIPER }}
auth {{ ALGORITHM_HMAC }}
auth-nocache
tls-version-min 1.2
ignore-unknown-option block-outside-dns
setenv opt block-outside-dns # Prevent Windows 10 DNS leak
verb 3




