port {{ CONNECTION_PORT }}
proto {{ CONNECTION_PROTOCOL }}
dev {{ CONNECTION_INTERFACE }}

ca {{ CA_CERT }}
cert {{ SERVER_CERT }}
key {{ SERVER_KEY }} 
tls-auth {{ TLS_AUTH }}

dh {{ DH_CERT }}

server {{ INTERNAL_SUBNET }}

ifconfig-pool-persist {{ CONNECTED_CLIENT_FILE }}
push {{ PUSH_EXTRA_CONFIG }}

push {{ PUSH_EXTRA_DNS_1 }}
push {{ PUSH_EXTRA_DNS_2 }}
keepalive {{ KEEPALIVE }}
cipher {{ CHIPER }}
user {{ OPENVPN_USER }}
group {{ OPENVPN_GROUP }}
persist-key
persist-tun
status {{ STATUS_LOG_FILE }}
log {{ OPENVPN_LOG }}
verb {{ OPENVPN_VERB_LEVEL }}
explicit-exit-notify {{ EXPLICIT_EXIT_NOTIFY }}