set_var EASYRSA_REQ_COUNTRY   "UA"
set_var EASYRSA_REQ_PROVINCE   "Lviv"
set_var EASYRSA_REQ_CITY       "Lviv"
set_var EASYRSA_REQ_ORG        "NDA"
set_var EASYRSA_REQ_EMAIL      "jesus@jesus.net"
set_var EASYRSA_REQ_OU         "NDA"