client
dev {{ CONNECTION_INTERFACE }}
proto {{ CONNECTION_PROTOCOL }}
remote {{ this.stdout }}{{ CONNECTION_PORT }}
resolv-retry infinite
nobind
user {{ OPENVPN_USER }}
group {{ OPENVPN_GROUP }}
persist-key
persist-tun
remote-cert-tls server
cipher {{ CHIPER }}
auth {{ ALGORITHM_HMAC }}
verb 3

ca ca.crt
cert client.crt
key client.key
tls-auth ta.key 1